@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

* {
  font-family: Blinker;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: .5em;
}